In [ ]:
## 2025년 8월 28일 화이팅입니다!!
'''
오늘 배울 내용은 수치형 데이터와 범주형 데이터의 전처리이다.
오늘 중으로는 데이터 전처리를 마치고 다음 챕터로 넘어가고 싶다.
화이팅이다~!!
'''

'\n오늘 배울 내용은 수치형 ㄷ\n'

## 1. 수치형 데이터 전처리

In [19]:
import pandas as pd

# 데이터 생성
data = {'Age': [15, 22, 35, 50, 72]}
df = pd.DataFrame(data)

print(df)

   Age
0   15
1   22
2   35
3   50
4   72

### (1-1) 수치형 데이터의 구간화 - 시험 단골문제!!!

In [ ]:
'''
예컨데 0~100세 사이의 연속분포를 가지는 나이라는 데이터를
10대, 20대, 30대로 범주화하여
특정 패턴이나 그룹을 발견하기 쉽게 하고,
또한 직관적으로 이해하기 좋게 만들어주는 전처리 작업이다.
'''

#### (1-1-1) pd.cut(data, bins=구간경계, labels=구간이름)

In [ ]:
# 구간 설정
bin = [0, 10, 20, 30, 40, 50, 60, 70, 80, 200] # 구간 경계 설정
label = ['10대 미만', '10대', '20대', '30대', '40대', '50대', '60대', '70대', '80대 이상'] # 각 구간의 레이블
df['Age_groups'] = pd.cut(df['Age'], bins = bin, labels = label, right = False) # right = False 로 구간의 오른쪽 끝은 포함하지 않게 되었다(50살은 40대로 가지 마라)

print(df)

   Age Age_groups
0   15        10대
1   22        20대
2   35        30대
3   50        50대
4   72        70대

#### (1-1-2) pd.qcut(data, q=구간 개수, labels=구간이름)

In [16]:
df['Age_quantile'] = pd.qcut(df['Age'], q = 3, labels = ['상위', '중위', '하위'])

print(df)

   Age Age_groups Age_quantile
0   15        10대           상위
1   22        20대           상위
2   35        30대           중위
3   50        50대           하위
4   72        70대           하위

### (1-2) 수치형 데이터의 스케일링 변화

In [28]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
import pandas as pd

data = {'Height' : [147, 184, 146, 185, 178, 176, 177, 188, 183, 174, 172]}
df   = pd.DataFrame(data)

print(df)

    Height
0      147
1      184
2      146
3      185
4      178
5      176
6      177
7      188
8      183
9      174
10     172

In [ ]:
'''
국어, 수학, 영어점수와 키를 놓고 IQ를 예측하는 분석에 있어서
키를 스케일링 없이 cm단위로 두고 분석하면
명목적인 숫자가 큰 키에 엉뚱하게도 높은 비중을 부여하는 결과로 이어지므로
데이터 수치들의 기준이나 단위를 맞춰 주는 작업이다.
'''

#### (1-2-1) 정규화 (Normalization)

In [ ]:
'''
정규화는 데이터들을 0과 1사이의 값으로 바꾸는 작업이다.
계산식 : (x - Min) / (Max - Min)
다시 말해 특정 값이 최솟값과 최댓값 사이에 어느 위치에 위치하냐를 표시한 것이다.
'''

In [ ]:
nm_scaler = MinMaxScaler()
df['Height_Normalized'] = nm_scaler.fit_transform(df[['Height']])  ## series가 들어가면 안되고 DataFrame이 들어가야 하므로 이중 대괄호[[]] 형식으로 감싸주기!!!

print(df)

    Height  Height_Normalized
0      147           0.023810
1      184           0.904762
2      146           0.000000
3      185           0.928571
4      178           0.761905
5      176           0.714286
6      177           0.738095
7      188           1.000000
8      183           0.880952
9      174           0.666667
10     172           0.619048

#### (1-2-2) 표준화(Standardize)

In [ ]:
'''
표준화는 데이터를 평균이 0이며, 데이터의 편차를 표준편차로 나누는 작업이다.
계산식 : (X - 평균) / 표준편차

'''

In [30]:
std_scaler = StandardScaler()
df['Height_Stamdardized'] = std_scaler.fit_transform(df[['Height']])  ## series가 들어가면 안되고 DataFrame이 들어가야 하므로 이중 대괄호[[]] 형식으로 감싸주기!!!

print(df)

    Height  Height_Normalized  Height_Stamdardized
0      147           0.023810            -1.954724
1      184           0.904762             0.760541
2      146           0.000000            -2.028109
3      185           0.928571             0.833927
4      178           0.761905             0.320228
5      176           0.714286             0.173457
6      177           0.738095             0.246842
7      188           1.000000             1.054083
8      183           0.880952             0.687155
9      174           0.666667             0.026686
10     172           0.619048            -0.120085

## 2. 범주형 데이터 전처리

In [ ]:
'''
범주형 데이터는 글자(문자)나 분류(category)로 이루어진 데이터이다.
이를테면 남자/여자, 서울/부산/대구 등등...

범주형 데이터는 그 자체로는 머신러닝 모델이 이해하지 못하므로
숫자로 변환하여 학습에 사용해야 한다.

이를 인코딩이라고 하며
레이블 인코딩과 원핫 인코딩으로 나눌 수 있다.
'''

In [37]:
import pandas as pd
from   sklearn.preprocessing import LabelEncoder

data = {'City' : ['Seoul', 'Daegu', 'Daejeon', 'Suwon', 'Gwanggu', 'Busan', 'Ulsan']}
df   = pd.DataFrame(data)

print(df)

      City
0    Seoul
1    Daegu
2  Daejeon
3    Suwon
4  Gwanggu
5    Busan
6    Ulsan

### (2-1) 레이블 인코딩

In [ ]:
'''
레이블 인코딩은 단순하게 각 레이블에 0, 1, 2 등의 숫자를 매칭하는 방식이다.
예컨데 서울은 0, 부산은 1, 수원은 2 이런 방식이다

따라서 레이블 인코딩은 데이터에 서열(순서)가 있는 경우 권장되는 방식이다.
비록 LabelEncoder 사용시 문자열 순서대로 인코딩이 되어
서열순 인코딩을 위해선 수동으로 매칭이 필요하긴 하다.
'''

In [42]:
# 레이블 인코딩
encoder = LabelEncoder()
df['City_encoded'] = encoder.fit_transform(df['City'])  ## 앞선 예시와 달리 DataFrame이 들어갈 필요는 없다.

print(df)

      City  City_encoded
0    Seoul             4
1    Daegu             1
2  Daejeon             2
3    Suwon             5
4  Gwanggu             3
5    Busan             0
6    Ulsan             6

### (2-2) 원핫 인코딩 (95퍼센트 확률로 출제되니까 반드시 숙지!!!!)

In [ ]:
'''
원핫 인코딩은 각 범주를 0과 1로 구성되는 벡터로 변환하는 방식이다.
앞선 예시로 비교해보면 서울을 001, 부산은 010, 수원은 100... 이런 방식이다.

레이블 인코딩과는 반대로 데이터에 순서나 서열이 없는 경우 적합하다.
'''

In [45]:
# 원핫 인코딩

df_encoded = pd.get_dummies(df['City'], columns=['City'])
print(df_encoded)

   Busan  Daegu  Daejeon  Gwanggu  Seoul  Suwon  Ulsan
0  False  False    False    False   True  False  False
1  False   True    False    False  False  False  False
2  False  False     True    False  False  False  False
3  False  False    False    False  False   True  False
4  False  False    False     True  False  False  False
5   True  False    False    False  False  False  False
6  False  False    False    False  False  False   True